<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- <context:annotation-config /> -->

	<!-- init-method="init" destroy-method="destroy" -->
	<!-- <bean id="helloWorld" class="com.tutorialspoint.HelloWorld"> <property 
		name="message" value="hello kevin"></property> </bean> <bean id="cStartEventHandler" 
		class="com.tutorialspoint.CStartEventHandler"> </bean> <bean id="cStopEventHandler" 
		class="com.tutorialspoint.CStopEventHandler"> </bean> -->
	<!-- <bean id="sayToWorld" class="com.tutorialspoint.SayToWorld" init-method="init" 
		destroy-method="destroy"> <property name="message1" value="hello world"></property> 
		<property name="message2" value="hello second world"></property> </bean> -->
	<!-- <bean id="byeWorld" class="com.tutorialspoint.ByeWorld" parent="helloWorld"> 
		<property name="message1" value="bye world"></property> <property name="message3" 
		value="bye third world"></property> </bean> -->

	<!-- <bean id="beanTemplate" abstract="true"> <property name="message1" 
		value="hello world"></property> <property name="message2" value="hello second 
		world"></property> <property name="message3" value="hello third world"></property> 
		</bean> <bean id="byeWorld" class="com.tutorialspoint.ByeWorld" parent="beanTemplate"> 
		<property name="message1" value="bye world"></property> <property name="message3" 
		value="bye third world"></property> </bean> -->

	<!-- <bean id="textEditor" class="com.tutorialspoint.TextEditor"> <constructor-arg 
		ref="spellChecker" /> </bean> <bean id="spellChecker" class="com.tutorialspoint.SpellChecker" 
		</bean> -->
	<!-- <bean id="textEditor" class="com.tutorialspoint.TextEditor"> <property 
		name="spellChecker" ref="spellChecker"></property> </bean> <bean id="spellChecker" 
		class="com.tutorialspoint.SpellChecker"></bean> -->

	<!-- Inner Bean -->
	<!-- <bean id="textEditor" class="com.tutorialspoint.TextEditor"> <property 
		name="spellChecker"> <bean id="spellChecker" class="com.tutorialspoint.SpellChecker" 
		/> </property> </bean> <bean id="spellChecker" class="com.tutorialspoint.SpellChecker"> 
		</bean> -->

	<!-- Injection collection -->
	<!-- <bean id="javaCollection" class="com.tutorialspoint.JavaCollection"> 
		setAddressList call <property name="addressList"> <list> <value>CHINE</value> 
		<value>FRANCE</value> <value>USA</value> <value>LUXEMBOURG</value> </list> 
		</property> setAddressSet call <property name="addressSet"> <set> <value>KOR</value> 
		<value>BRAZIL</value> </set> </property> setAddressMap call <property name="addressMap"> 
		<map> <entry key="1" value="ARG" /> <entry key="2" value="DEU" /> </map> 
		</property> setAddressPro call <property name="addressPro"> <props> <prop 
		key="1">KEVIN</prop> <prop key="2">FANNY</prop> </props> </property> </bean> -->

	<!-- <bean id="car" class="com.tutorialspoint.Car"> <constructor-arg ref="engine"></constructor-arg> 
		<constructor-arg ref="wheel"></constructor-arg> </bean> <bean id="engine" 
		class="com.tutorialspoint.Engine"> <constructor-arg index="0" value="Ferari"></constructor-arg> 
		<constructor-arg index="1" value="5400"></constructor-arg> </bean> <bean 
		id="wheel" class="com.tutorialspoint.Wheel"> <constructor-arg type="String" 
		value="Michellin"></constructor-arg> </bean> -->


	<!-- <bean class="com.tutorialspoint.InitHelloWorld"></bean> -->

	<!-- To active the annotation config, if not, the annotation is not called -->

	<!-- @Qualifier -->
	<!-- <bean id="carFactory" class="com.tutorialspoint.CarFactory"> </bean> 
		<bean id="car1" class="com.tutorialspoint.Car"> </bean> <bean id="engine1" 
		class="com.tutorialspoint.Engine"> <property name="name" value="Férari"></property> 
		<property name="rpm" value="500"></property> </bean> <bean id="wheel1" class="com.tutorialspoint.Wheel"> 
		<property name="brand" value="Férari"></property> </bean> <bean id="car2" 
		class="com.tutorialspoint.Car"> </bean> <bean id="engine2" class="com.tutorialspoint.Engine"> 
		<property name="name" value="BMW"></property> <property name="rpm" value="500"></property> 
		</bean> <bean id="wheel2" class="com.tutorialspoint.Wheel"> <property name="brand" 
		value="BMW"></property> </bean> -->

	<!-- <bean id="textEditor" class="com.tutorialspoint.TextEditor"> <constructor-arg 
		ref="spellChecker"></constructor-arg> <property name="spellChecker" ref="spellChecker"></property> 
		</bean> <bean id="spellChecker" class="com.tutorialspoint.SpellChecker"> 
		</bean> -->

<!-- 	<bean id="customEventHandler" class="com.tutorialspoint.CustomEventHandler" />

	<bean id="customEventPublisher" class="com.tutorialspoint.CustomEventPublisher" /> -->
	
	<!-- bean definition & AOP specific configuration -->
	

</beans>
